.css-wev3kb:hover .hidden-button{
display: flex !important;

}

/* .css-ehgnu7:hover .css-1czp019{
    display: flex !important;
} */
.css-mvldff :hover{
    
    transition:all 0.3s linear;
    box-shadow: 0 25px 50px -25px rgba(0, 0, 0, .5) inset; 
}