.slick-arrow.slick-prev,
.slick-arrow.slick-next{
    z-index: 1;
    width: 0;
}
.SliderContainer:hover .slick-prev{
    display: flex;
}
.SliderContainer:hover .slick-next{
    display: flex;
}
.slick-prev{
    left:32px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    
}
.slick-next{
    right:32px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    
}

.slick-prev::before,
.slick-next::before{
    display: none;

}

.SliderContainer{
    margin:2rem 0;
    display: flex;
    flex-flow: column;
    gap:7px;
}
