/* @media (max-width: 768px){
    .css-hn784z{
        display: none;
    }
    .css-1abc02a{
        display: none;
    }
} */

.css-ohwg9z:hover .css-1lyta4o-MuiButtonBase-root-MuiIconButton-root {
    opacity: 0.6!important;
}
