/* .css-nuglpp-MuiPaper-root-MuiDrawer-paper{
    width: 30% !important;
} */

/* @media (max-width:800px){
    .css-nuglpp-MuiPaper-root-MuiDrawer-paper{
        width: 50% !important;
    }
    
} */
/* .css-1o9gbcf{
    width:100% !important;
} */