.slick-prev::before,
.slick-next::before{
    display:none;
}
/* .slick-next{
width: 4vw;
} */
.slick-next{
    right:px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    
    
}
.slick-prev{
    left:-10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 200;
}