.forMarginSet{
    margin: 0 10%;
}
@media (max-width:1030px) {
    .forMarginSet{
        margin: 0 8%;
    }
    
}
@media (max-width:930px) {
    .forMarginSet{
        margin: 0 6%;
    }
    
}
@media (max-width:880px) {
    .forMarginSet{
        margin: 0 4%;
    }
    
}
@media (max-width:820px) {
    .forMarginSet{
        margin: 0 2%;
    }
    
}
@media (max-width:775px) {
    .forMarginSet{
        margin: 0 1%;
    }
    .customer{
        width: 50%;
    }
    .COMPANY{
        width: 50%;
    }
    .CONNECT_WITH_US{
        width: 50%;
    }
    .KEEP_UP_TO_DATE{
        width: 50%;
    }
    .contents{
        flex-wrap: wrap;
        margin-left: 9px;
    }
}
